@model PeerReview.ViewModels.SubmissionViewModel.SubmissionViewModel
@{
    ViewBag.Title = "Создать решение";
    Layout = "_Layout";
}

<h2>Создать решение</h2>

<form method="POST" asp-controller="Submission" asp-action="Create">
    <div class="form-group">
        <textarea class="form-control" rows="5" placeholder="Enter your code..."></textarea>
    </div>
    <select class="form-control">
        <option value=""></option>
    </select>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
