@model PeerReview.ViewModels.TasksViewModel.CreateViewModel
@{
    ViewBag.Title = "Создать решение";
    Layout = "_Layout";
}

<h2>Создать решение</h2>

<form method="post" asp-controller="Tasks" asp-action="Create"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Title"></label><br />
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Descrition"></label><br />
        <textarea class="form-control" rows="5" asp-for="Descrition"></textarea>
        <span asp-validation-for="Descrition"></span>
    </div>
    <div>
        <label asp-for="ExpirationDate"></label><br />
        <input type="date" asp-for="ExpirationDate" />
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>
